    heading-logo {
        justify-content: center;
        text-align: center;
    }

    #ftco-nav {
        margin-left: 5%;
        justify-content: center;
        text-align: center;
        margin-bottom: 1px;
        margin-top: 20px;
    }

    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        color: white;
    }

    .slider-item {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .flip-text {
        display: flex;
        animation: flipText 1.5s ease-in-out;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        color: white;
        background-color: rgba(124, 106, 106, 0.73);
        font-family: 400;
        margin-top: 220px;
        margin-bottom: 60px;
    }

    @keyframes flipText {
        0% {
            transform: rotateX(0deg);
            opacity: 1;
        }

        50% {
            transform: rotateX(90deg);
            opacity: 0;
        }

        100% {
            transform: rotateX(0deg);
            opacity: 1;
        }


    }

    .swiper-pagination {
        --swiper-theme-color: green;
    }

    #heading-bg {
        background-color: brown;
        text-align: center;
        justify-content: center;
        display: flex;

    }

    #heading-bg:hover {
        background-color: #82AE46;
    }

    .search {
        --padding: 11.5px;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--padding);
        border-radius: 28px;
        background-color: #f6f6f6;
        margin-top: 15px;

    }

    .search-input {
        color: #333336;
        margin-left: var(--padding);
        font-size: 18px;
        background-color: transparent;
        outline: none;
        border: none;
        width: 290px;
    }

    .search-input::placeholder,
    .search.icon {
        color: rgba(0, 0, 0, 0.5);
        margin-left: var(--padding);
    }

    .login-user {
        display: flex;
        width: 103px;
        margin-left: 63%;

    }

    .login-nav {
        width: 80%;
        color: #82AE46;
    }

    .login-nav:hover {
        color: #252525;

    }

    .container5 {
        position: relative;
        width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }

    .container5 .card {
        width: 100%;
        background: #fff;
        margin-left: 80px;
    }

    .container5 .card .imgBx {
        position: relative;
        width: 100%;
        height: 310px;
        overflow: hidden;
    }

    .container5 .card .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;
        transform-origin: right;
    }

    .container5 .card:hover .imgBx img {
        transform: scale(1.5);
    }

    .container5 .card .content {
        padding: 10px;
    }

    .container5 .card .content .productName h3 {
        font-size: 18px;
        font-weight: 500;
        color: #28AE28;
        margin: 5px 0;
    }

    .container5 .card .content .price-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container5 .card .content .price-rating h2 {
        font-size: 20px;
        color: #252525;
        font-weight: 500;
    }

    .container5 .card .content .price-rating .fa {
        color: #ffd513;
        cursor: pointer;
    }

    .container5 .card .content .price-rating .fa.grey {
        color: #ccc;
    }

    .action {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .action li {
        position: relative;
        list-style: none;
        width: 40px;
        height: 40px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px;
        cursor: pointer;
        transition: 0.5s;
        transform: translateX(60px);
    }

    .action li:nth-child(2) {
        transition-delay: 0.15s;
    }

    .action li:nth-child(3) {
        transition-delay: 0.3s;
    }

    .action li span {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%) translateX(-20px);
        white-space: nowrap;
        padding: 4px 6px;
        background: #fff;
        color: #333;
        font-weight: 500;
        font-size: 12px;
        border-radius: 4px;
        pointer-events: none;
        opacity: 0;
        transition: 0.5s;
    }

    .action li:hover span {
        transform: translateY(-50%) translateX(0px);
        opacity: 1;
    }

    .action li span::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -4px;
        width: 8px;
        height: 8px;
        background: #fff;
        transform: translateY(-50%) rotate(45deg);
    }

    .container5 .card:hover .action li {
        transform: translateX(0px);
    }

    .action li:hover {
        background: #28AE28;
        color: #fff;
    }

    #productname {
        color: #28AE28;
        font-size: 19px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .btn-btn {
        width: 200px;
        height: 60px;
        color: white;
        background-color: #28AE28;
        cursor: pointer;
        border-radius: 8px;
        text-align: center;
        text-transform: uppercase;
        border: none;
        box-sizing: border-box;

    }

    .btn-btn:hover {
        color: #fff;
        background-color: #252525;
    }

    .product-tittle {
        margin-top: 12px;
        text-align: center;
        justify-content: center;
        margin-bottom: 7px;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 400;

    }

    .head {
        color: #82ae46;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 12px;
        font-size: 40px;
    }

    .head1 {
        color: #82ae46;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 12px;
        font-size: 29px;
    }

    .col-lg-6 img {
        margin-top: 18%;
    }

    .breadcrumbs {
        display: block;
        /* Ensures "Home > About Us" stays on one line */
        text-align: center;
    }

    .flip-text {
        display: inline-block;
        animation: flipText 3s infinite ease-in-out;
    }

    @keyframes flipText {
        0% {
            transform: rotateY(0deg);
        }

        50% {
            transform: rotateY(180deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }

    #heading-bg {
        background-color: brown;
        text-align: center;
        justify-content: center;
        display: flex;

    }

    #heading-bg:hover {
        background-color: #82AE46;
    }

    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    li {
        margin: 0;
        padding: 0;
    }

    .section-services {
        font-family: "Poppins", sans-serif;
        background-color: #e6edf7;
        color: #202020;
        padding-top: 115px;
        padding-bottom: 120px;
    }

    .section-services .header-section {
        margin-bottom: 34px;
    }

    .section-services .header-section .title {
        position: relative;
        padding-bottom: 14px;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 32px;
    }

    .section-services .header-section .title:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 3px;
        background-color: green;
        border-radius: 3px;
    }

    .section-services .header-section .title:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(30px);
        width: 10px;
        height: 3px;
        background-color: green;
        border-radius: 3px;
    }

    .section-services .header-section .description {
        font-size: 14px;
        color: black;
    }

    .section-services .single-service {
        position: relative;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 10px;
        padding: 40px 30px;
        overflow: hidden;
    }

    .section-services .single-service .content {
        position: relative;
        z-index: 2;
    }

    .section-services .single-service .circle-before {
        position: absolute;
        top: 0;
        right: 0px;
        transform: translate(40%, -40%);
        width: 150px;
        height: 150px;
        background-color: #82ae46;
        border: 6px solid #82ae46;
        border-radius: 50%;
        opacity: 0.5;
        z-index: 1;
        transition: all .6s;
    }

    .section-services .single-service:hover .circle-before {
        width: 100%;
        height: 100%;
        transform: none;
        border: 0;
        border-radius: 0;
        opacity: 1;
    }

    .section-services .single-service .icon {
        display: flex;
        /* Use flexbox */
        justify-content: center;
        /* Horizontal center */
        align-items: center;
        /* Vertical center */
        margin-bottom: 26px;
        width: 70px;
        height: 70px;
        background-color: #82ae46;
        border-radius: 5px;
        color: #fff;
        font-size: 30px;
        transition: all .3s;
        margin-top: 5px;
    }

    .section-services .single-service:hover .icon {
        background-color: #fff;
        color: #82ae46;
    }

    .section-services .single-service .title {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 23px;
        transition: color .3s;
    }

    .section-services .single-service:hover .title {
        color: #fff;
    }

    .section-services .single-service .description {
        margin-bottom: 20px;
        font-size: 14px;
        transition: color .3s;
    }

    .section-services .single-service:hover .description {
        color: #fff;
    }

    .section-services .single-service a {
        position: relative;
        font-size: 18px;
        color: #202020;
        text-decoration: none;
        font-weight: 500;
        transition: color .3s;
    }

    .section-services .single-service:hover a {
        color: #fff;
    }

    .section-services .single-service a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: black;
        transition: background-color .3s;
    }

    .section-services .single-service:hover a:after {
        background-color: #fff;
    }

    .navbar-close {
        position: absolute;
        right: 20px;
        top: 16px;
        display: none;
        background: none;
        border: none;
        font-size: 34px;
        color: #fff;
        z-index: 9999;
        cursor: pointer;
    }